// セレクタごとにメディアクエリを呼び出す。
@mixin desktop {
  @media (min-width: 600px) {
    // @content でプロパティを含めたブロックごと渡せる。
    @content;
  }
}

h2 {
  font-size: 2rem;
  @include desktop {
    font-size: 5rem;
  }
}
